<div class="d-flex align-items-center justify-content-center">
  <p class="m-3"
     appTaTooltip="Nemanja Milinkovic"
     placement="bottom" delay="500"
     duration="300"
     style="cursor: pointer">Master
  </p>
  <h3 class="m-3"
      appTaTooltip="IVS FREIGHT"
      placement="bottom"
      delay="500"
      duration="300"
      style="cursor: pointer">
    IVAN
  </h3>
</div>

<div class="tooltip-example main-container">
  <div class="sub-container">
    <div class="tooltipExampl" appTaTooltip="TA-tootip left" placement="left" delay="500">tootip on left</div>
    <div class="tooltipExampl" appTaTooltip="TA-tootip top" placement="top" delay="1500">tootip on top</div>
    <div class="tooltipExampl" appTaTooltip="TA-tootip bottom" placement="bottom">tootip on bottom</div>
    <div class="tooltipExampl" appTaTooltip="TA-tootip right" placement="right" delay="500">tootip on right</div>
  </div>
</div>
