<div class="container">
  <!--Test menu-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">TaTooltip</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <div class="d-flex flex-row">
        <button class="ml-3" appTaTooltip="fa-adobe" placement="bottom-right">
          <i class="fab fa-adobe"></i>
        </button>
        <button class="ml-3" appTaTooltip="fa-adversal" placement="bottom-right">
          <i class="fab fa-adversal"></i>
        </button>
        <button class="ml-3" appTaTooltip="fa-airbnb" placement="bottom-right">
          <i class="fab fa-airbnb"></i>
        </button>
        <button class="ml-3" appTaTooltip="fa-amazon-pay" placement="bottom-right">
          <i class="fab fa-amazon-pay"></i>
        </button>
        <button class="ml-3" appTaTooltip="fa-amazon" placement="bottom-right">
          <i class="fab fa-amazon"></i>
        </button>
        <button class="ml-3" appTaTooltip="fa-android" placement="bottom-right">
          <i class="fab fa-android"></i>
        </button>
      </div>
    </div>
  </nav>
  <!--Test menu-->
</div>

<div class="container-fluid">
  <div class="container d-flex flex-column align-items-center justify-content-center">
    <h1 class="text-uppercase"><b>TA Test custom tooltip</b></h1>
    <p><b>Here is only bottom tooltips positioning finished</b></p>
  </div>
</div>

<!--<div class="d-flex align-items-center justify-content-center">-->
<!--  <p class="m-3"-->
<!--     appTaTooltip="Nemanja Milinkovic"-->
<!--     placement="bottom" delay="500"-->
<!--     duration="300"-->
<!--     style="cursor: pointer">Master-->
<!--  </p>-->
<!--  <h3 class="m-3"-->
<!--      appTaTooltip="IVS FREIGHT"-->
<!--      placement="bottom"-->
<!--      delay="500"-->
<!--      duration="300"-->
<!--      style="cursor: pointer">-->
<!--    IVAN-->
<!--  </h3>-->
<!--</div>-->

<div class="tooltip-example main-container">
  <div class="sub-container mt-5">
    <div class="tooltipExampl" appTaTooltip="TA-tootip left" placement="left" delay="500">tootip on left</div>
    <div class="tooltipExampl" appTaTooltip="TA-tootip top" placement="top" delay="1500">tootip on top</div>
    <div class="tooltipExampl" appTaTooltip="TA bottom left" placement="bottom-left" tooltipBackground="#F3C366">tootip on bottom left</div>
    <div class="tooltipExampl" appTaTooltip="TA bottom right" placement="bottom-right">tootip on bottom right</div>
  </div>
</div>

<div class="container tattEx1">
  <div class="d-flex align-items-center justify-content-around">
    <div class="tooltipEx1" appTaTooltip="TA-tootip left" placement="left" delay="500">tootip on left</div>
    <div class="tooltipEx1" appTaTooltip="TA-tootip top" placement="top" delay="1500">tootip on top</div>
    <div class="tooltipEx1" appTaTooltip="TA bottom left" placement="bottom-left" tooltipBackground="#F3C366">tootip bottom left</div>
    <div class="tooltipEx1" appTaTooltip="TA bottom right" placement="bottom-right">tootip on bottom right</div>
  </div>
</div>
