<div class="container-fluid">
  <div class="container d-flex flex-column align-items-center justify-content-center">
    <h1 class="text-uppercase"><b>TA Test custom tooltip</b></h1>
    <p><b>Here is only bottom tooltips positioning finished</b></p>

  </div>
</div>

<!--<div class="d-flex align-items-center justify-content-center">-->
<!--  <p class="m-3"-->
<!--     appTaTooltip="Nemanja Milinkovic"-->
<!--     placement="bottom" delay="500"-->
<!--     duration="300"-->
<!--     style="cursor: pointer">Master-->
<!--  </p>-->
<!--  <h3 class="m-3"-->
<!--      appTaTooltip="IVS FREIGHT"-->
<!--      placement="bottom"-->
<!--      delay="500"-->
<!--      duration="300"-->
<!--      style="cursor: pointer">-->
<!--    IVAN-->
<!--  </h3>-->
<!--</div>-->

<div class="tooltip-example main-container">
  <div class="sub-container mt-5">
    <div class="tooltipExampl" appTaTooltip="TA-tootip left" placement="left" delay="500">tootip on left</div>
    <div class="tooltipExampl" appTaTooltip="TA-tootip top" placement="top" delay="1500">tootip on top</div>
    <div class="tooltipExampl" appTaTooltip="TA bottom left" placement="bottom-left" tooltipBackground="#F3C366">tootip on bottom left</div>
    <div class="tooltipExampl" appTaTooltip="TA bottom right" placement="bottom-right">tootip on bottom right</div>
  </div>
</div>

<div class="container tattEx1">
  <div class="d-flex align-items-center justify-content-around">
    <div class="tooltipEx1" appTaTooltip="TA-tootip left" placement="left" delay="500">tootip on left</div>
    <div class="tooltipEx1" appTaTooltip="TA-tootip top" placement="top" delay="1500">tootip on top</div>
    <div class="tooltipEx1" appTaTooltip="TA bottom left" placement="bottom-left" tooltipBackground="#F3C366">tootip bottom left</div>
    <div class="tooltipEx1" appTaTooltip="TA bottom right" placement="bottom-right">tootip on bottom right</div>
  </div>
</div>
